<div class="wrapper">
    <div class="scrolls">

        <div class="data-col activeCol">
            <div class="header">
                <!--header_content-->
                <h5>Column Name</h5>
                <div class="activeWrapper">
                    <div class="form-group">
                        <select id="ColName_1" class="form-control columnOptions">
                            <option value="firstname">Firstname</option>
                            <option value="lastname">Lastname</option>
                            <option value="username">Username</option>
                            <option value="gender">Gender</option>
                            <option value="email">Email</option>
                            <option value="contacts">Contacts</option>
                            <option value="address">Address</option>
                        </select>
                    </div>
                    <button class="btn btn-info BackBtn" data-id="1">&lt; Back</button>&nbsp;<button class="btn btn-info SaveBtn" data-id="1">Save &gt;</button>
                </div>
                <!--@header_content-->
            </div>
            <ul>
                <li>Muhammad Taqi</li>
                <li>Ahmed</li>
                <li>Syed</li>
                <li>Inzmam-ul-haq</li>
                <li>Andrew</li>
            </ul>
        </div>


        <div class="data-col">
            <div class="header">
                <!--header_content-->
                <h5>Column Name</h5>
                <div class="unactiveWrapper">
                    <a class="editBtn" href="#" data-id="1" >Change</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="resetBtn" href="#" data-id="1" >Reset</a>
                </div>
                <!--@header_content-->
            </div>
            <ul>
                <li>Muhammad Taqi</li>
                <li>Ahmed</li>
                <li>Syed</li>
                <li>Inzmam-ul-haq</li>
                <li>Andrew</li>
            </ul>
        </div>

        <div class="data-col">
            <div class="header">
                <!--header_content-->
                <h5>Column Name</h5>
                <div class="unactiveWrapper"><a class="editBtn" href="#" data-id="1" data-original-title="" title="">Change</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="resetBtn" href="#" data-id="1" data-original-title="" title="">Reset</a></div>
                <!--@header_content-->
            </div>
            <ul>
                <li>Muhammad Taqi</li>
                <li>Ahmed</li>
                <li>Syed</li>
                <li>Inzmam-ul-haq</li>
                <li>Andrew</li>
            </ul>
        </div>

        <div class="data-col">
            <div class="header">
                <!--header_content-->
                <h5>Column Name</h5>
                <div class="unactiveWrapper"><a class="editBtn" href="#" data-id="1" data-original-title="" title="">Change</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="resetBtn" href="#" data-id="1" data-original-title="" title="">Reset</a></div>
                <!--@header_content-->
            </div>
            <ul>
                <li>Muhammad Taqi</li>
                <li>Ahmed</li>
                <li>Syed</li>
                <li>Inzmam-ul-haq</li>
                <li>Andrew</li>
            </ul>
        </div>

        <div class="data-col">
            <div class="header">
                <!--header_content-->
                <h5>Column Name</h5>
                <div class="unactiveWrapper"><a class="editBtn" href="#" data-id="1" data-original-title="" title="">Change</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="resetBtn" href="#" data-id="1" data-original-title="" title="">Reset</a></div>
                <!--@header_content-->
            </div>
            <ul>
                <li>Muhammad Taqi</li>
                <li>Ahmed</li>
                <li>Syed</li>
                <li>Inzmam-ul-haq</li>
                <li>Andrew</li>
            </ul>
        </div>

        <div class="data-col">
            <div class="header">
                <!--header_content-->
                <h5>Column Name</h5>
                <div class="unactiveWrapper"><a class="editBtn" href="#" data-id="1" data-original-title="" title="">Change</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="resetBtn" href="#" data-id="1" data-original-title="" title="">Reset</a></div>
                <!--@header_content-->
            </div>
            <ul>
                <li>Muhammad Taqi</li>
                <li>Ahmed</li>
                <li>Syed</li>
                <li>Inzmam-ul-haq</li>
                <li>Andrew</li>
            </ul>
        </div>

        <div class="data-col">
            <div class="header">
                <!--header_content-->
                <h5>Column Name</h5>
                <div class="unactiveWrapper"><a class="editBtn" href="#" data-id="1" data-original-title="" title="">Change</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="resetBtn" href="#" data-id="1" data-original-title="" title="">Reset</a></div>
                <!--@header_content-->
            </div>
            <ul>
                <li>Muhammad Taqi</li>
                <li>Ahmed</li>
                <li>Syed</li>
                <li>Inzmam-ul-haq</li>
                <li>Andrew</li>
            </ul>
        </div>

        <div class="data-col">
            <div class="header">
                <!--header_content-->
                <h5>Column Name</h5>
                <div class="unactiveWrapper"><a class="editBtn" href="#" data-id="1" data-original-title="" title="">Change</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="resetBtn" href="#" data-id="1" data-original-title="" title="">Reset</a></div>
                <!--@header_content-->
            </div>
            <ul>
                <li>Muhammad Taqi</li>
                <li>Ahmed</li>
                <li>Syed</li>
                <li>Inzmam-ul-haq</li>
                <li>Andrew</li>
            </ul>
        </div>



    </div>
</div>