{% extends themes %}


{% block body %}
    <div style="width: 900px; margin: 0 auto;">
        <br/><br/><br/><br/><br/><br/>
        <p> Your account successfully activated. Now you can login. </p>
        <p> <a class="btn btn-info" href="{{ path('login') }}">Login</a> </p>
    </div>
{% endblock %}